{:kotoba.app/id "cloud.itonami.isic-0143", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreign5ovwe2vq574qk2y6ihvm3fv2qoixkadrgvx7rok5owv6leppzy", :kotoba.app/embed-url "ipfs://bafkreign5ovwe2vq574qk2y6ihvm3fv2qoixkadrgvx7rok5owv6leppzy", :published {:archive "https://kotobase.net/ipfs/bafkreign5ovwe2vq574qk2y6ihvm3fv2qoixkadrgvx7rok5owv6leppzy", :size 72354, :put-status 201, :get-status 200, :at "2026-08-15T14:00:07.172Z"}}
